<ng-container *ngIf="messagesList && !skeleton.isActive">
  <cdk-virtual-scroll-viewport itemSize="10" style="height: 500px;">
    <ng-container *cdkVirtualFor="let message of messagesList; let i = index">
      <app-message
       [message]="message.message"
       (click)="showMessageDetail(message.id)"
       mat-ripple></app-message>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ng-container>

<ng-container *ngIf="skeleton.isActive">
  <div class="skeleton" *ngFor="let item of skeleton.items"></div>
</ng-container>


<!-- <ng-container *ngIf="(usersList$ | async) as usersList"> -->
